.small {
  background-color: rgba(19, 90, 19, 0.781);
  color: white;
}
.large {
  background-color: rgb(230, 128, 145);
  color: white;
  width: 70px;
}
button{
    border: none;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}